VITE_ROSBRIDGE_URL=ws://192.168.1.42:9090
VITE_CMD_VEL_TOPIC=/cmd_vel
VITE_ODOM_TOPIC=/odom
VITE_BATTERY_TOPIC=/battery_state
VITE_ESTOP_TOPIC=/emergency_stop
VITE_MODE_TOPIC=/robot/mode
VITE_STARTED_TOPIC=/robot/started
VITE_MAP_TOPIC=/map
VITE_SCAN_TOPIC=/scan
VITE_PLAN_TOPIC=/plan
VITE_LOCAL_PLAN_TOPIC=/local_plan
VITE_FOOTPRINT_TOPIC=/local_costmap/published_footprint
