# Copy to /etc/moebius/moebius.env and edit for the Raspberry Pi.
MOEBIUS_USER=ubuntu
MOEBIUS_REPO=/home/ubuntu/MoebiusRobot
ROS_DISTRO=jazzy
ROS_DOMAIN_ID=0
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
SERIAL_PORT=/dev/ttyUSB0
USE_SLAM=false
USE_NAV2=false
USE_SIM_TIME=false
NAV2_PARAMS=/home/ubuntu/MoebiusRobot/ros2_ws/install/moebius_bringup/share/moebius_bringup/config/nav2_params.yaml
ROS_LOG_DIR=/var/log/moebius/ros
WEB_ROOT=/var/www/moebius
